body {
  background-color: #70d1fe;
  background-image: url(./Images/clouds.png);
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -2rem;
  background-size: contain;
  background-attachment: fixed;
  margin: 0;
  padding: 2rem;
}

.main {
  background-color: #fff;
  border-radius: 2rem;
  margin-bottom: 4rem;
  width: 100%;
}

.header {
  color: #fed90f;
  font-family: "Homer Simpson Revised";
  font-size: 5rem;
  padding: 2rem 3rem;
  text-align: center;
}

h1 {
  margin: 0;
}

.character-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(25, 90, 140, 0.33) 0px 25px 20px -20px;
  padding: 1rem 2rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.character-quote {
  padding: 2rem 0rem;
}

.character-quote-container {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.quote-text {
  font-size: 2.5rem;
  margin: 0;
}

.character-name {
  color: #fed90f;
  font-family: "Homer Simpson Revised";
  font-size: 5rem;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.character-image {
  width: 15%;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  font-family: "Varela Round", sans-serif;
  column-gap: 10rem;
}

.button-wrapper {
  font-family: "Homer Simpson Revised";
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.input {
  display: flex;
  align-content: center;
  margin-bottom: 2rem;
}

input {
  width: 40%;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 2rem;
}

.delete-button,
.like-button {
  background-color: #fed90f;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(25, 90, 140, 0.33) 0px 25px 20px -20px;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: inherit;
  font-size: 2.5rem;
  margin-right: 1.8rem;
  padding: 1rem;
}

.like-button {
  width: 100%;
}
